{% extends 'core/main_template.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'core/css/registr.css' %}">{% endblock %}

{% block content %}
	<div align="center">
		<p class="form_title" align="center">Регистрация</p>
		<form method="post">
			{% csrf_token %}
			{% for i in form %}
			<p><label class="form-label" for="{{ i.id_for_label }}">{{ i.label }}: </label>{{ i }}</p>
				<div class="form-error">{{ i.errors }}</div>
			{% endfor %}
			<div align="center"><button class="btn btn-success" type="submit">Зарегистрироваться</button></div>
		</form>
	</div>




{% endblock %}